@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500&family=Noto+Sans:wght@400;500;600;700&family=Roboto:wght@700&display=swap');

// colors
$black: #1C1A1A;
$cream-200: #FED2AA;
$green-100: #E5F3E5;
$green-100-hover: #c3f8c3;
$green-200: #CDE6CC;
$green-300: #A5D1A4;
$pale-green:#75C973;
$green-500:#519750;
$grey-100: #F0EEEE;
$grey-200:#DDDADA;
$grey-100-hover: #dfdede;
$grey-300: #BFBABB;
$grey-50: #F8F7F7;
$grey-500:#817676;
$grey-700: #564E4E;
$orange-200: #F8DCB0;
$orange-400: #f09745;
$orange-500: #e98427;
$orange-50: #FEF8EE;
$orange-600: #DA6A1C;
$pale-purple: #D8BCFD;
$purple-800: #6F219E;
$purple-900: #601D86;
$white: #FFF;
$yellow-100: #FAF5C7;
$yellow-100-hover: #f8ef9b;
$yellow-300: #F0D454;
$yellow-400:#E9BB18;
$yellow-500:#DAA718;
$Cream-700:#C2370C;
$Cream-800:#9A2C12;

// measurements
$nav-height: 15vh;
$page-height:150vh;

//fonts
$primary-font: 'Noto Sans', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$tertiary-font: 'Be Vietnam Pro', sans-serif;