@import '../../../assets/scss/variables';

.livesSpentDialog{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin:0 auto;
    flex-direction: column;
    gap: 40px;
    padding: 5%;
    border-radius: 20px;
    background-color: white;
    width: 50%;
    height: 50%;
    .cat{
        display: flex;
        justify-content: center;
        
    }
    .textDialog{
        display: flex;
        flex-direction: column;
        text-align: center;
        flex-wrap: wrap;
        gap: 20px;
        height: 30%;
        font-size: 36px;
        font-weight: 400;

    #text{
        font-size: 28px;
    }   
    }
    .btnDialog{
        width: 100%;
        display: flex;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        word-wrap: break-word;
        justify-content: space-between;
        height: 30%;
        gap: 10px;
        margin: auto;
    }
    #btn-purple{
        background-color: $purple-800;
        box-shadow: 0px 5px 0px 0px $purple-900;
    }
    #btn-white{
        background-color: white;
        border: 1px solid $grey-200;
        box-shadow: 0px 5px 0px 0px $grey-200;
        color: black;
    }
}
button{
    background-color: $orange-500;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    padding: 10px;
    color: white;
    font-family: $primary-font;
    border-radius: 10px;
    
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    word-wrap: break-word;
    cursor: pointer;
    
}
