@import '../../../assets/scss/variables';

.rules-title {
    font-size: 30px;
    margin-bottom: 2rem;
}

.rules-section {
    margin-bottom: 1rem;
}

.rules-header {
    font-size: 20px;
    margin-bottom: 0.5rem;
}

.rules-paragraph {
    font-size: 16px;
    color: $black;
    margin-bottom: 1rem;
}
