@import "../../assets/scss/variables";

/*------------------------------------------------------------------------------------------------*/

@media (min-width: 1300px) {
  .background-set {
    background-color: $black;
    position: relative;
    height: 175vh;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    width: 100vw;
  }

  .whole-page-layout {
    margin-top: -200px;
    margin-left: 50px;
    position: relative;
    //   margin-top: 0;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 100%;
  }

  #light-background {
    position: fixed;
    opacity: 0.2;
    width: 50%;
    margin-left: 20px;
    height: 80%;
  }

  #homePageBubble {
    position: fixed;
    margin-top: 200px;
    opacity: 0.2;
  }

  .contentContainer {
    flex: 1 100px;
    justify-content: space-around;
    position: relative;
    top: 235px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    width: 50px;
  }

  .text {
    font-family: $tertiary-font;
    font-size: 50px;
    white-space: nowrap;
  }

  #white-tips {
    color: #ffffff;
    font-size: 50px;
    font-family: $tertiary-font;
  }
  #orange-tips {
    color: #f6ad69;
    font-family: $tertiary-font;
  }

  #orange {
    color: #f6ad69;
    font-size: 50px;
    font-family: $tertiary-font;
    margin-top: -20px;
    font-weight: bold;
  }

  .text-small {
    margin-top: 50px;
    font-family: Noto Sans;
    font-size: xx-small;
  }

  #yellowGuy {
    width: 250px;
    height: 186px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
  }

  p {
    //styleName: Headline XXS/Regular;
    font-family: Noto Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    white-space: nowrap;
  }

  #home-page-tips {
    font-weight: bold;
  }

  .buttonContainer {
    flex: 2 100px;
    position: relative;
    top: 235px;
    padding: 20px;
  }

  .Button-Position {
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 15px;
  }

  .Button-Layout {
    display: flex;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
    font-family: $primary-font;
  }

  #button-icon {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 80px;
    height: 68px;
    margin-right: 10px;
  }

  .Text-Layout {
    grid-column: 2;
    display: grid;
    grid-template-rows: auto auto;
    text-align: left;
    place-items: left;
  }

  #title {
    font-weight: bolder;
  }
  #tips {
    font-size: medium;
  }

  .HomeButton {
    width: 30rem;
    height: 8rem;
    display: inline-block;
    padding: 24px 25px;
    font-family: $primary-font;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #1c1a1a;
    border-radius: 12px;
    border: 3px solid #dddada;
    background-color: #ffffff;
    -webkit-box-shadow: 2px 4px 1px #dddada;
    -moz-box-shadow: 2px 4px 1px #dddada;
    box-shadow: 2px 4px 1px #dddada;
  }

  .HomeButton:hover {
    background-color: #dddada;
  }

  .HomeButton:active {
    background-color: #dddada;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
}

/*------------------------------------------------------------------------------------------------*/

@media (min-width: 1100px) and (max-width: 1300px) {
  .background-set {
    background-color: $black;
    position: relative;
    height: 175vh;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    width: 100%;
  }

  .whole-page-layout {
    margin-top: -200px;
    margin-left: 0px;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 100%;
  }

  #light-background {
    position: fixed;
    opacity: 0.2;
    width: 40%;
    height: 100%;
    margin-left: 50px;
  }

  #homePageBubble {
    position: fixed;
    margin-top: 200px;
    width: 40%;
    opacity: 0.2;

    margin-left: 50px;
  }

  .contentContainer {
    flex: 1 100px;
    justify-content: space-around;
    position: relative;
    height: auto;
    top: 235px;
    margin-left: 100px;
    margin-right: 20px;
    margin-top: 50px;
  }

  .text {
    font-family: $tertiary-font;
    font-size: 50px;
    white-space: nowrap;
  }

  #white-tips {
    color: #ffffff;
    font-size: 50px;
    font-family: $tertiary-font;
  }
  #orange-tips {
    color: #f6ad69;
    font-family: $tertiary-font;
  }

  #orange {
    color: #f6ad69;
    font-size: 50px;
    font-family: $tertiary-font;
    margin-top: -20px;
    font-weight: bold;
  }

  .text-small {
    margin-top: 50px;
    font-family: Noto Sans;
    font-size: xx-small;
  }

  #yellowGuy {
    width: 250px;
    height: 186px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
  }

  p {
    //styleName: Headline XXS/Regular;
    font-family: Noto Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    white-space: nowrap;
  }

  #home-page-tips {
    font-weight: bold;
  }

  .buttonContainer {
    flex: 2 100px;
    position: relative;
    top: 235px;
    padding: 20px;
  }

  .Button-Position {
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 15px;
  }

  .Button-Layout {
    display: flex;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
    font-family: $primary-font;
  }

  #button-icon {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 70px;
    height: 59px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .Text-Layout {
    grid-column: 2;
    display: grid;
    grid-template-rows: auto auto;
    text-align: left;
    place-items: left;
  }

  #title {
    font-weight: bolder;
    font-size: 20px;
  }
  #tips {
    font-size: 15px;
  }

  .HomeButton {
    width: 25rem;
    height: 6.6rem;
    display: inline-block;
    padding: 10px;
    font-family: $primary-font;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #1c1a1a;
    border-radius: 12px;
    border: 3px solid #dddada;
    background-color: #ffffff;
    -webkit-box-shadow: 2px 4px 1px #dddada;
    -moz-box-shadow: 2px 4px 1px #dddada;
    box-shadow: 2px 4px 1px #dddada;
  }

  .HomeButton:hover {
    background-color: #dddada;
  }

  .HomeButton:active {
    background-color: #dddada;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
}

/*------------------------------------------------------------------------------------------------*/

@media (min-width: 900px) and (max-width: 1100px) {
  .background-set {
    background-color: $black;
    position: relative;
    height: 175vh;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    width: 100%;
  }

  .whole-page-layout {
    margin-top: -200px;
    margin-left: 0px;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 70%;
    width: 100%;
  }

  #light-background {
    position: fixed;
    opacity: 0.2;
    width: 40%;
    height: 100%;
    margin-top: -50px;
    margin-left: 50px;
  }

  #homePageBubble {
    position: fixed;
    margin-top: 200px;
    width: 40%;
    opacity: 0.2;
    margin-left: 50px;
  }

  .contentContainer {
    flex: 1 100px;
    justify-content: space-around;
    position: relative;
    top: 235px;
    margin-left: 100px;
    margin-right: 20px;
    margin-top: 50px;
  }

  .text {
    font-family: $tertiary-font;
    font-size: 40px;
    white-space: nowrap;
  }

  #white-tips {
    color: #ffffff;
    font-size: 40px;
    font-family: $tertiary-font;
  }
  #orange-tips {
    color: #f6ad69;
    font-family: $tertiary-font;
  }

  #orange {
    color: #f6ad69;
    font-size: 40px;
    font-family: $tertiary-font;
    margin-top: -20px;
    font-weight: bold;
  }

  #yellowGuy {
    width: 200px;
    height: 153px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
  }

  p {
    //styleName: Headline XXS/Regular;
    font-family: Noto Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    white-space: nowrap;
  }

  .text-small {
    margin-top: 50px;
    font-family: Noto Sans;
  }

  #home-page-tips {
    font-weight: bold;
  }

  .buttonContainer {
    flex: 2 100px;
    position: relative;
    top: 235px;
    padding: 20px;
  }

  .Button-Position {
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 15px;
  }

  .Button-Layout {
    display: flex;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
    font-family: $primary-font;
  }

  #button-icon {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 70px;
    height: 59px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .Text-Layout {
    grid-column: 2;
    display: grid;
    grid-template-rows: auto auto;
    text-align: left;
    place-items: left;
  }

  #title {
    font-weight: bolder;
    font-size: 20px;
  }
  #tips {
    font-size: 15px;
  }

  .HomeButton {
    width: 25rem;
    height: 6.6rem;
    display: inline-block;
    padding: 10px;
    font-family: $primary-font;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #1c1a1a;
    border-radius: 12px;
    border: 3px solid #dddada;
    background-color: #ffffff;
    -webkit-box-shadow: 2px 4px 1px #dddada;
    -moz-box-shadow: 2px 4px 1px #dddada;
    box-shadow: 2px 4px 1px #dddada;
  }

  .HomeButton:hover {
    background-color: #dddada;
  }

  .HomeButton:active {
    background-color: #dddada;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
}
/*------------------------------------------------------------------------------------------------*/

@media (min-width: 768px) and (max-width: 900px) {
  .background-set {
    background-color: $black;
    position: relative;
    height: 175vh;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    width: 100%;
  }

  .whole-page-layout {
    margin-top: -200px;
    margin-left: 0px;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
  }

  #light-background {
    position: fixed;
    opacity: 0.2;
    width: 30%;
    height: 100%;
    margin-top: -150px;
    margin-left: 20px;
  }

  #homePageBubble {
    position: fixed;
    margin-top: 250px;
    width: 30%;
    opacity: 0.2;
    margin-left: 20px;
  }

  .contentContainer {
    flex: 1 100px;
    justify-content: space-around;
    position: relative;
    top: 235px;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 50px;
  }

  .text {
    font-family: $tertiary-font;
    font-size: 30px;
    white-space: nowrap;
  }

  #white-tips {
    color: #ffffff;
    font-size: 30px;
    font-family: $tertiary-font;
  }
  #orange-tips {
    color: #f6ad69;
    font-family: $tertiary-font;
  }

  #orange {
    color: #f6ad69;
    font-size: 30px;
    font-family: $tertiary-font;
    margin-top: -20px;
    font-weight: bold;
  }

  #yellowGuy {
    width: 150px;
    height: 115px;
    margin-bottom: 50px;
    margin-left: 0px;
    margin-right: 30px;
  }

  p {
    //styleName: Headline XXS/Regular;
    font-family: Noto Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    white-space: nowrap;
  }

  .text-small {
    margin-top: 50px;
    font-family: Noto Sans;
  }

  #home-page-tips {
    font-weight: bold;
  }

  .buttonContainer {
    flex: 2 100px;
    position: relative;
    top: 235px;
    padding: 20px;
  }

  .Button-Position {
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 15px;
  }

  .Button-Layout {
    display: flex;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
    font-family: $primary-font;
  }

  #button-icon {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 50px;
    height: 42px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .Text-Layout {
    grid-column: 2;
    display: grid;
    grid-template-rows: auto auto;
    text-align: left;
    place-items: left;
  }

  #title {
    font-weight: bolder;
    font-size: 20px;
  }
  #tips {
    font-size: medium;
  }

  .HomeButton {
    width: 25rem;
    height: 6rem;
    display: inline-block;
    padding: 0;
    font-family: $primary-font;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #1c1a1a;
    border-radius: 12px;
    border: 3px solid #dddada;
    background-color: #ffffff;
    -webkit-box-shadow: 2px 4px 1px #dddada;
    -moz-box-shadow: 2px 4px 1px #dddada;
    box-shadow: 2px 4px 1px #dddada;
  }

  .HomeButton:hover {
    background-color: #dddada;
  }

  .HomeButton:active {
    background-color: #dddada;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
}

/*------------------------------------------------------------------------------------------------*/

@media (max-width: 768px) {
  .background-set {
    background-color: $black;
    position: relative;
    height: 175vh;
    box-sizing: border-box;
    margin: 0;
    border: 0;

    width: 100%;
  }

  .whole-page-layout {
    margin-top: -200px;
    margin-left: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
  }

  #light-background {
    position: fixed;
    opacity: 0.2;
    width: 30%;
    height: 100%;
    margin-top: -150px;
    margin-left: 20px;
  }

  #homePageBubble {
    position: fixed;
    margin-top: 250px;
    width: 30%;
    opacity: 0.2;
    margin-left: 20px;
  }

  .contentContainer {
    flex: 1 100px;
    justify-content: space-around;
    position: relative;
    top: 235px;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 50px;
    height: 50%;
  }

  .text {
    font-family: $tertiary-font;
    font-size: 30px;
    white-space: nowrap;
  }

  #white-tips {
    color: #ffffff;
    font-size: 30px;
    font-family: $tertiary-font;
  }
  #orange-tips {
    color: #f6ad69;
    font-family: $tertiary-font;
  }

  #orange {
    color: #f6ad69;
    font-size: 30px;
    font-family: $tertiary-font;
    margin-top: -20px;
    font-weight: bold;
  }

  #yellowGuy {
    width: 150px;
    height: 115px;
    margin-bottom: 50px;
    margin-left: 0px;
    margin-right: 30px;
  }

  p {
    //styleName: Headline XXS/Regular;
    font-family: Noto Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    white-space: nowrap;
  }

  .text-small {
    margin-top: 50px;
    font-family: Noto Sans;
  }

  #home-page-tips {
    font-weight: bold;
  }

  .buttonContainer {
    flex: 2 100px;
    position: relative;
    top: 235px;
    padding: 20px;
  }

  .Button-Position {
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 15px;
  }

  .Button-Layout {
    display: flex;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
    font-family: $primary-font;
  }

  #button-icon {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 60%;
    height: 50%;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 15%;
  }

  .Text-Layout {
    grid-column: 2;
    display: grid;
    grid-template-rows: auto auto;
    text-align: left;
    place-items: left;
  }

  #title {
    font-weight: bolder;
    font-size: 15px;
  }
  #tips {
    font-size: 10px;
  }

  .HomeButton {
    width: 90%;
    height: 100%;
    display: inline-block;
    padding: 0;
    font-family: $primary-font;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #1c1a1a;
    border-radius: 12px;
    border: 3px solid #dddada;
    background-color: #ffffff;
    -webkit-box-shadow: 2px 4px 1px #dddada;
    -moz-box-shadow: 2px 4px 1px #dddada;
    box-shadow: 2px 4px 1px #dddada;
  }

  .HomeButton:hover {
    background-color: #dddada;
  }

  .HomeButton:active {
    background-color: #dddada;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
}
