@import '../../assets/scss/variables';

.Button-Position{
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap:0.8rem;
}

.Button-Layout{
    display:grid;
    grid-template-columns: 140px 320px ;
    row-gap: 1px;
    column-gap: 1px;
}

.Img-Layout{
    grid-column: 1;
    justify-content: end;
}

.Text-Layout{
    grid-column: 2;
    display: grid;
    grid-template-rows: auto auto;
    gap:1px;
    text-align: left;
}

#title{
    font-weight: bolder;
}
#tips{
    font-size: medium;
}





.HomeButton {
    width: 40rem;
    display: inline-block;
    padding: 15px 25px;
    font-family:$primary-font;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #1C1A1A;
    border-radius: 12px;
    border: 2px solid #DDDADA;


    background-color:#FFFFFF;
    -webkit-box-shadow: 0px 4px 1px #DDDADA;
    -moz-box-shadow: 0px 4px 1px #DDDADA;
    box-shadow: 0px 4px 1px #DDDADA;
  }
  
.HomeButton:hover {background-color:#DDDADA }
  
.HomeButton:active {
    background-color: #DDDADA;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

