@import "../../assets/scss/variables";

.gameFeatureContainer{
    display: flex;
    flex-direction: column;
    gap: 5%;
    font-size: 22px;
    width: 65%;
    height: 65%;
    .gameLives{
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-bottom: 10%;
        background-image: url('../../assets/SVGs/Line.svg');
        background-repeat: no-repeat;
        background-position: center bottom;
    
        div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            span{
                width: 40%;
            }
            #timer , #score , #lives{
                text-align: center;
                font-size: 32px;
                font-weight: bold;
            }
            #lives{
                display: flex;
                img{
                    width: 30%;
                    height: 30%;
                    margin-right: 5px;
                }
            }
        }
    }

    .gameSetting{
        display: flex;
        flex-direction: column;
        gap:0.1vw;
        padding-top: 5%;
        div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            overflow:auto
            span ,div{
                width: 45%;
            }
            >:nth-child(2){
                border: 2px solid $grey-500;
                border-radius: 5px;
                width: 100px;
                height: 40px;
                display: flex;
                justify-content: center;
                flex-direction: row;
            }
            #music {
                display: flex;
                flex-direction: row;
                justify-content: center;
                font-size: 22px;
                .switch{ 
                        width:125px;
                        height:75px;
                        .MuiSwitch-thumb{
                            border-radius:5px;
                            height:35px;
                            background-color:$grey-100;
                            border:1px solid $grey-100;
                            width:55px;
                            box-shadow:0px 5px 0px 0px $grey-200;
                            margin-top:8px;
                        }
                        
                        .MuiSwitch-track{
                            border-radius: 5px;
                            width: 125px;
                            height: 40px;
                            margin-top: 5px;
                        }
                        .css-1xvpzln-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked{
                            -webkit-transform:translateX(55px);
                            -moz-transform: translateX(55px);
                            transform: translateX(55px);
                            color: #F0EEEE;
                        }
                    }
              }
            .slider {
                -webkit-appearance: none;
                width: 90%;
                height: 8px;
                border-radius: 5px;
                background: $grey-300;
                outline: none;
                opacity: 0.7;
                -webkit-transition: 2s;
                transition: opacity 2s;
            }
            .slider:hover {
                opacity: 1;
            }
            .slider::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: $grey-100;
                cursor: pointer;
            }
            .slider::-moz-range-thumb {
                width: 25px;
                height: 25px;
                border-radius: 50%;
                background: $grey-100;
                cursor: pointer;
            }
        }
    }
}

