@import "../../../assets/scss/variables";

@keyframes fallen{
    from{
        bottom: $page-height;
        transform: scale(1);
    }
    to{
        bottom: 5rem;
        transform: scale(1);
    }
}
@keyframes fixedBackGround {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes cat {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}
@keyframes BG {
    from{
        background-size: 100% 100%;
    }
    to{
        background-size: 225% 225%;
    }
}
@keyframes backgroundZoom {
    from{
        background-size: 100% 100%;
    }
    to {
        background-size: 225% 225%;
    }
}
button:active {
    background-color: $orange-500;
    box-shadow: 0px 1px 0px 0px $orange-600;
    transform: translateY(4px);
  } 
.QuizScreenContainer{
    display: flex;
    font-family: $primary-font;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height:calc($page-height - $nav-height);
    z-index: 1;
    overflow: hidden;
    overflow: hidden;
    background-image: url(../../../../public/Background.svg);
    background-repeat: no-repeat;
    background-attachment:cover;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    animation-name:BG;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-direction: normal;
    perspective: 1000px;
    .GameScreen{
        display: flex;
        margin-top: -150%;
        justify-content: center;
        align-items: center;
        z-index: 2;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        width: 80vw;
        height: 85vh;
        animation-name:comedown;
        animation-duration: 2s;
        animation-delay: 5s;
        animation-fill-mode: forwards;
        animation-direction: linear;
        position: center;

        .gameMain{
            display: flex;
            align-items: flex-end;
            flex-direction: row;
            // flex-basis: 89.99%;
            width: 75vw;
            height: 85vh;
            background-color: white;
            .left{
                width: 100%;
                height: 100%;
                flex-basis: 33.33%;
                display: flex;
                justify-content: center;
                position: relative;
                padding-top: 5%;
                .line{
                    width: 1%;
                    height: 80%;
                    position: absolute;
                    right: 0px;
                    background-image: url('../../../assets/SVGs/VirticalLine.svg');
                    background-size: 100% 100%;
                    
                }
            }
            .right{
                width: 100%;
                height: 100%;
                flex-basis: 66.66%;
                padding-top: 5%;
            }
        }

        .setting{
            display: flex;
            flex-direction: row;
            justify-content:flex-end;
            gap: 5%;
            width: 40%;
            margin-left: auto;
            flex-basis: 11.11%;
            z-index: 3;
            
            .btnSetting{
                background-color: $orange-500;
                width: 30%;
                height: 60%;
                color: white;
                font-family: $primary-font;
                border-radius: 10px;
                box-shadow: 0px 5px 0px 0px $orange-600;
                text-align: center;
                font-size: 1vw;
                font-weight: 500;
                word-wrap: break-word;
                cursor: pointer;
            }
            .btnPause , .btnRestart {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                gap: 5%;
                
                img{
                    width: 20%;
                    height:75%;
                    background-size: 100%;
                }
                
            }
            .btnexit{
                background-color: $Cream-700;
                width: 10%;
                height: 60%;
                border-radius: 50%;
                box-shadow: 0px 5px 0px 0px $Cream-800;
                text-align: center;
                display: grid;
                padding: 2.5%;

                img{
                    width: 100%;
                    height: 100%;
                }
            }
        
        }
        
    }
    .catConatiner{
        display: flex;
        align-items: center;
        justify-content: center;
        #cat{
            opacity: 0;
            width: 6%;
            height: 3%;
            position: absolute;
            left: 19vw;
            z-index: 4;
            animation-name:cat, catMove;
            animation-duration: 1s,1.5s;
            animation-delay: 2s,2s;
            animation-fill-mode: forwards, forwards;
            animation-direction:normal,alternate-reverse;
            animation-iteration-count: 1 ,infinite;
            animation-timing-function: linear, ease-in-out;
        }
    }
    .musicStand{
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        opacity: 1;
        animation-name: fallen, zoomIn, fixedBackGround;
        animation-duration: 1s, 1s,0.1s;
        animation-delay: 0s, 1s,5s;
        width: 15%; 
        margin: auto;
        padding-bottom: 0.5rem; 
        animation-timing-function: ease, ease, ease;
        animation-fill-mode: forwards, forwards,forwards;
        animation-direction: normal, normal, reverse;  
    }
    .quizScreenBGContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-position: center;
        // background-image: url(../../../assets/svg/MusicStandaBG.svg);
        width: 82%;
        height: 72%;
        border-radius: 20px 20px 10px 10px ;
        background-color: $grey-700;
        background-size: 120vw 110vh;
        opacity: 0;
        animation-name:fixedBackGround;
        animation-duration: 0.1s;
        animation-delay: 5s;
        animation-fill-mode: forwards;
        animation-direction: linear;
        margin-top: 10%;
    }
    .paperStand{
        width: 90%;
        height: 25%;
        border-radius: 1px 1px 50px 50px;
        transform: rotateX(115deg) translateZ(13vh);
        background-color: $grey-900;
    }
    .musicSlinder{
        position: absolute;
        top: 60%;
        width: 5%;
        height: 500px;
        background-color: $grey-900;
        z-index: -1;
    }
}
@media screen {
@keyframes catMove {
    0% { 
        transform: rotate(-5deg) scale(7);
        bottom: 21.5vw;  // lest up
    }
    25% { 
        transform: rotate(-5deg) scale(7);
        bottom: 20.5vw; // left bottom down
    }
    50% { 
        transform: rotate(10deg) scale(7);
        bottom: 19vw;  // right bottom down
    }
    100% { 
        transform: rotate(10deg) scale(7);
        bottom: 21.5vw;  // right up
    }
}
@keyframes BG {
    from{
        background-size: 100% 100%;
    }
    to{
        background-size: 240% 225%;
    }
}
@keyframes backgroundZoom {
    from{
        background-size: 100% 100%;
    }
    to {
        background-size: 225% 225%;
    } 
}
@keyframes comedown {   
    from { 
        margin-top:-150%;
    }
    to { 
        margin-top: -2%;
    }
}
@keyframes zoomIn {
    from{
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    bottom: 5rem;
    position:absolute;
  }
    to{
    -moz-transform: scale(3);
    -webkit-transform: scale(3);
    -o-transform: scale(3);
    -ms-transform: scale(3);
    -webkit-transform: scale(3);
    transform: scale(6);
    bottom: -64%;
}
}
}
// @media (min-width:1360px) and (max-width:1460px) and (min-height:1024px){
//     @keyframes catMove {
//         0% { 
//             transform: rotate(-5deg) scale(5);
//             bottom: 18vw;  // lest up
//         }
//         25% { 
//             transform: rotate(-5deg) scale(5);
//             bottom: 19vw; // left bottom down
//         }
//         50% { 
//             transform: rotate(10deg) scale(5);
//             bottom: 15.5vw;  // right bottom down
//         }
//         100% { 
//             transform: rotate(10deg) scale(5);
//             bottom: 18vw;  // right up
//         }
//     }
//     @keyframes comedown {
    
//         from { 
//             margin-top:-200%;
//         }
//         to { 
//             margin-top: -8.5%;
//         }
//     }
//     @keyframes zoomIn {
//         from{
//         -moz-transform: scale(1);
//         -webkit-transform: scale(1);
//         -o-transform: scale(1);
//         -ms-transform: scale(1);
//         -webkit-transform: scale(1);
//         transform: scale(1);
//         bottom: 5rem;
//         position:absolute;
        
//         }
//         to{
//         -moz-transform: scale(6.6);
//         -webkit-transform: scale(6.6);
//         -o-transform: scale(6.6);
//         -ms-transform: scale(6.6);
//         -webkit-transform: scale(6.6);
//         transform: scale(6.6);
//         bottom: -45.5%;
//     }
//     }
//     .quizScreenBGContainer{
//         width: 100vw;
//         background-size: 120vw 110vh;
//         margin-top: 40vw;
//         .GameScreen{
//             width: 88vw;
//             height: 66vh;
//             .gameMain{
//                 width: 85vw;
//             }
//         }
//     }  
// }
// @media (min-width:1180px) and (max-width:1360px) and (min-height:820px){
//     @keyframes catMove {
//         0% { 
//             transform: rotate(-5deg) scale(5);
//             bottom: 18vw;  // lest up
//         }
//         25% { 
//             transform: rotate(-5deg) scale(5);
//             bottom: 19vw; // left bottom down
//         }
//         50% { 
//             transform: rotate(10deg) scale(5);
//             bottom: 15.5vw;  // right bottom down
//         }
//         100% { 
//             transform: rotate(10deg) scale(5);
//             bottom: 18vw;  // right up
//         }
//     }
//     @keyframes comedown {
//         from { 
//             margin-top:-250%;
//         }
//         to { 
//             margin-top: -8.5%;
//         }
//     }
//     @keyframes zoomIn {
//         from{
//         -moz-transform: scale(1);
//         -webkit-transform: scale(1);
//         -o-transform: scale(1);
//         -ms-transform: scale(1);
//         -webkit-transform: scale(1);
//         transform: scale(1);
//         bottom: 5rem;
//         position:absolute;
//         }
//         to{
//         -moz-transform: scale(6.6);
//         -webkit-transform: scale(6.6);
//         -o-transform: scale(6.6);
//         -ms-transform: scale(6.6);
//         -webkit-transform: scale(6.6);
//         transform: scale(6.6);
//         bottom: -45.5%;
//     }
//     }
    
//     .quizScreenBGContainer{
//         margin-top: 32vw;
//         .GameScreen{
//             width: 90vw; 
//             height: 71vh;  
//             .gameMain{
//                 width: 85vw; 
//             }
//         }
//     }  
// }
// @media (min-width:1024px) and (max-width: 1180px) and (min-height:768px){
//     @keyframes catMove {
//         0% { 
//             transform: rotate(-5deg) scale(5);
//             bottom: 18vw;  // lest up
//         }
//         25% { 
//             transform: rotate(-5deg) scale(5);
//             bottom: 19vw; // left bottom down
//         }
//         50% { 
//             transform: rotate(10deg) scale(5);
//             bottom: 15.5vw;  // right bottom down
//         }
//         100% { 
//             transform: rotate(10deg) scale(5);
//             bottom: 18vw;  // right up
//         }
//     }
//     @keyframes comedown {
//         from { 
//             margin-top:-250%;
//         }
//         to { 
//             margin-top: -8.5%;
//         }
//     }
//     @keyframes zoomIn {
//         from{
//         -moz-transform: scale(1);
//         -webkit-transform: scale(1);
//         -o-transform: scale(1);
//         -ms-transform: scale(1);
//         -webkit-transform: scale(1);
//         transform: scale(1);
//         bottom: 5rem;
//         position:absolute;
//         }
//         to{
//         -moz-transform: scale(6.6);
//         -webkit-transform: scale(6.6);
//         -o-transform: scale(6.6);
//         -ms-transform: scale(6.6);
//         -webkit-transform: scale(6.6);
//         transform: scale(6.6);
//         bottom: -45.5%;
//     }
//     }
//     .QuizScreenContainer{
//         background-size: 300% 300%;
//     }
//     .quizScreenBGContainer{
//         margin-top: 40vw;
//         .GameScreen{
//             width: 90vw;
//             height: 66vh;
//             background-size: 100vw 110vh;
//             .gameMain{
//                 width: 85vw;
//             }
//         }
//     }
// }



