@import '../../assets/scss/variables';

header {
  display: flex;
  align-items: center;
  height: $nav-height;
  width: 100%;
  padding-left: 1.5vw;
  background-color: $orange-50;
  position: fixed;
  top: 0;
  z-index: 3;
  gap: 5rem;
  img {
    width: 15vw;
  }

  .navigation-link {
    font-family: Noto Sans;
    font-size: 1.5rem;
    color: black;
    font-weight: 500;
  }

  .navigation-link:hover,
  :active {
    color: $orange-400;
  }
}
