@import "../../assets/scss/variables";

@keyframes falldown {
    from{
      margin: -80em auto;
    }
    to {
      margin: 6em auto;
    }
}
@keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
@keyframes comesFromRight {
  from {
      margin-right: -60vw;
      margin-left: 30vw;
      opacity: 0;
  }
  to {
      margin-right: 0vw;
      margin-left: 0vw;
      opacity: 1;
  }
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -20em auto;
  padding: 3em 6em;
  gap: 5em;
  width: 87vw;
  border-radius: 24px;
  background-color: $white;
  animation-name: falldown;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-direction: linear;
  overflow-x: hidden;

  p {
    white-space: wrap;
  }

  h1 {
    font-family: $tertiary-font;
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: -1px;
    opacity: 0;
    color: $black;
    animation-name: appear;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-direction: linear;

    span {
      color: $orange-500;
    }
  }

  main {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    width: 100%;

    .intro {
      padding: 1em;
      padding-bottom: 0;
      width: 50%;
      .bubble {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40vw;
        .chat {
          background-color: $orange-200;
          border-radius: 25px;
          padding: 1.5em 1.75em;
          max-width: 90%;
          width: 40vw;
          opacity: 0;
          animation-name: appear;
          animation-duration: 1s;
          animation-delay: 3s;
          animation-fill-mode: forwards;
          animation-direction: linear;
          p {
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            color: $black;
            
          }

          p + p {
            margin-top: 1rem;
            font-weight: 600;
          }
        }

        img {
          width: 5vw;
          margin-top: -1px;
          margin-left: 56%;
          opacity: 0;
          animation-name: appear;
          animation-duration: 1s;
          animation-delay: 3s;
          animation-fill-mode: forwards;
          animation-direction: linear;
        }
      }

      .cat {
        width: 20vw;
        margin-top: -3rem;
        opacity: 0;
        animation-name: appear;
        animation-duration: 1s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
        animation-direction: linear;
      }
    }

    .levels {
      display: flex;
      margin-right: -60vw;
      margin-left: 30vw;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 50%;
      opacity: 0;
      animation-name: comesFromRight;
      animation-duration: 1.5s;
      animation-delay: 4s;
      animation-fill-mode: forwards;
      animation-direction: linear;

      button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        padding: 0 2.25em;
        height: 30%;
        border-radius: 16px;
        

        p {
          font-size: 2em;
          font-style: normal;
          font-weight: 700;
          line-height: 36px;
          color: $grey-700;
        }

        img {
          width: 15%;
        }
      }

      .easy{
        background-color: $green-100;
        border: 2px solid $green-300;
        border-bottom: 8px solid $green-300;

        &:hover{
          background-color: $green-100-hover;
        }
      }

      .medium{
        background-color: $yellow-100;
        border: 2px solid $yellow-300;
        border-bottom: 8px solid $yellow-300;

        &:hover{
          background-color: $yellow-100-hover;
        }
      } 

      .hard{
        background-color: $grey-100;
        border: 2px solid $grey-300;
        border-bottom: 8px solid $grey-300;

        &:hover{
          background-color: $grey-100-hover;
        }
      }
    }
  }
}
