@import '../../assets/scss/variables';

// Big Laptop Screen
.welcome {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 2rem;
  border-radius: 24px;
  background-color: $white;

  h1 {
    font-family: $tertiary-font;
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: -1px;
    color: $black;
    margin-bottom: 2rem;

    span {
      color: $orange-500;
    }
  }

  main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

    .intro {
      padding: 1em;
      padding-bottom: 0;

      .bubble {
        margin-left: 2rem;
        width: 35rem;
        .chat {
          background-color: $orange-200;
          border-radius: 25px;
          padding: 1.5em 1.75em;

          p {
            text-wrap: wrap;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            color: $black;
          }

          p + p {
            margin-top: 1rem;
            font-weight: 600;
          }
        }

        img {
          width: 3rem;
          margin-top: -1px;
          margin-left: 56%;
        }
      }

      .cat {
        margin-top: -2rem;
        margin-left: 2rem;
        width: 18rem;
        height: 18rem;
      }
    }

    .levels {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        padding: 0 2.25em;
        height: 30%;
        border-radius: 16px;

        p {
          font-size: 2em;
          font-style: normal;
          font-weight: 700;
          line-height: 36px;
          color: $grey-700;
        }

        img {
          width: 15%;
        }
      }

      .easy {
        background-color: $green-100;
        border: 2px solid $green-300;
        border-bottom: 8px solid $green-300;

        &:hover {
          background-color: $green-100-hover;
        }
      }

      .medium {
        background-color: $yellow-100;
        border: 2px solid $yellow-300;
        border-bottom: 8px solid $yellow-300;

        &:hover {
          background-color: $yellow-100-hover;
        }
      }

      .hard {
        background-color: $grey-100;
        border: 2px solid $grey-300;
        border-bottom: 8px solid $grey-300;

        &:hover {
          background-color: $grey-100-hover;
        }
      }
    }
  }
}

// Small Laptop Screen and smaller
@media only screen and (max-width: 1200px) {
  .welcome {
    h1 {
      font-size: 2rem;
    }

    margin: 2rem auto;
    main {
      .intro {
        .bubble {
          margin-left: 0;
          width: 25rem;
        }

        .cat {
          margin-top: -2rem;
          margin-left: 1rem;
          width: 12rem;
          height: 12rem;
        }
      }
    }
  }
}
