@import './variables';

*, ::before, ::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding-top: $nav-height;
    font-family: $primary-font;
    background-image: url('../public/Background.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center $nav-height;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

a{
    text-decoration: none;
}

p{
    margin: 0;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

button{
    border: none;
    cursor: pointer;
    background-color: transparent;
    margin: 0;
    padding: 0;
    font-family: $primary-font;
}
