@import "../../assets/scss/variables";

.wrapper{

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: $black;
    width: 100%;
    height: 100%;
    
}

.centralized{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
}
//Content Dialog
.content{
   width: 62em;
   height: 40em;
   background-color: $white;
   opacity: 1;
   border-radius: 48px;
   padding: 48px 0;
   z-index:1;
   gap:36px;
}
//Play Again Dialog
.play-again{
    height: 54em;

    .quote{
        text-align: center;
        font-size: 28px;
        width:60%;
        gap:12px
    }
}
//Score Dialog
.score-dialog{
    height: 50em;
    p{
        font-size: 40px;
        gap:12px;
        span{
            font-size: 32px;
        }
        strong{
            font-weight: 500;
        }
    }
    .score-section{
        width:70%;
        gap:12px;
        .score{
            font-size: 40px;
            font-weight: 500;
        }
        .score-message{
            font-size: 28px;

        }
    }
}
// StreakDialog
{
    
}

.message{
    font-size: 32px;
}

//Buttons

.button-container{
    gap:16px;
}
.primary,.secondary{
    width:30em;
    height:3.625em;
    border-radius: 12px;
    font-size: 20px;


}
.primary{
color:$white;
background-color: $purple-800;
border: 2px solid $purple-900;
border-bottom: 8px solid $purple-900;
}
.secondary{

    border: 2px solid #DDDADA;
    border-bottom: 8px solid #DDDADA;
}